In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests
# Import API key
from config import g_key

In [2]:
# Store 'cities' CSV into Pandas DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hofn,IS,2021-12-09 16:00:47,64.2539,-15.2082,39.22,65,90,8.05
1,1,Raudeberg,NO,2021-12-09 16:00:48,61.9875,5.1352,39.87,60,96,7.00
2,2,Upernavik,GL,2021-12-09 15:59:09,72.7868,-56.1549,8.26,96,93,10.89
3,3,Tuktoyaktuk,CA,2021-12-09 15:59:02,69.4541,-133.0374,-5.80,84,1,5.75
4,4,Udachnyy,RU,2021-12-09 16:00:48,66.4167,112.4000,-7.20,89,100,18.77

In [3]:
# Check data types for created dataframe
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Create Max Temp Heatmap

In [5]:
#Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
#Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Percent Humidity Heatmap

In [8]:
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

# Cloudiness Heatmap

In [9]:
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

# Wind Speed Heatmap

In [10]:
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

# Vacation Criterias

In [11]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [12]:
#Filter the data set to find the cities that fit the crieteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Bengkulu,ID,2021-12-09 15:59:41,-3.8004,102.2655,76.75,89,100,4.34
10,10,Georgetown,MY,2021-12-09 15:59:31,5.4112,100.3354,82.89,76,20,1.01
16,16,Sao Filipe,CV,2021-12-09 16:00:14,14.8961,-24.4956,77.23,62,90,10.80
17,17,Mbini,GQ,2021-12-09 16:00:51,1.5740,9.6134,82.40,76,49,5.93
19,19,Kahului,US,2021-12-09 15:59:51,20.8947,-156.4700,76.84,80,19,4.00
21,21,Cape Town,ZA,2021-12-09 15:58:45,-33.9258,18.4232,78.12,63,20,3.00
23,23,Atuona,PF,2021-12-09 15:58:50,-9.8000,-139.0333,78.03,67,88,14.47
24,24,Souillac,MU,2021-12-09 16:00:52,-20.5167,57.5167,78.37,67,17,10.51
30,30,Kirakira,SB,2021-12-09 15:59:11,-10.4544,161.9205,80.06,85,100,2.62
37,37,Avarua,CK,2021-12-09 15:59:34,-21.2078,-159.7750,75.25,88,75,2.30

In [13]:
# Determine if any null values
preferred_cities_df.count()

City_ID       147
City          147
Country       147
Date          147
Lat           147
Lng           147
Max Temp      147
Humidity      147
Cloudiness    147
Wind Speed    147
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
9     Bengkulu      ID     76.75  -3.8004  102.2655
10  Georgetown      MY     82.89   5.4112  100.3354
16  Sao Filipe      CV     77.23  14.8961  -24.4956
17       Mbini      GQ     82.40   1.5740    9.6134
19     Kahului      US     76.84  20.8947 -156.4700
21   Cape Town      ZA     78.12 -33.9258   18.4232
23      Atuona      PF     78.03  -9.8000 -139.0333
24    Souillac      MU     78.37 -20.5167   57.5167
30    Kirakira      SB     80.06 -10.4544  161.9205
37      Avarua      CK     75.25 -21.2078 -159.7750

In [15]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#Iterate through the data frame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Bengkulu,ID,76.75,-3.8004,102.2655,Grage Hotel Bengkulu
10,Georgetown,MY,82.89,5.4112,100.3354,Cititel Penang
16,Sao Filipe,CV,77.23,14.8961,-24.4956,Hotel Xaguate
17,Mbini,GQ,82.40,1.5740,9.6134,
19,Kahului,US,76.84,20.8947,-156.4700,Maui Seaside Hotel
21,Cape Town,ZA,78.12,-33.9258,18.4232,Southern Sun Waterfront Cape Town
23,Atuona,PF,78.03,-9.8000,-139.0333,Villa Enata
24,Souillac,MU,78.37,-20.5167,57.5167,Shanti Maurice Resort & Spa
30,Kirakira,SB,80.06,-10.4544,161.9205,SanBiz Lodge
37,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn

In [17]:
#Add a heatmap of temperature for vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the data frame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

 ### Code Breakdown ###
 #Set hotel_info equal to the info_box_content
 #In the list comprehension, each "row" of hotel_df is iteratted and then formatted into the template
 #Only rows defined in the info_box_template are used, which are hotel name, city, country, max temp

In [19]:
#Add a heatmap of temperature for vacation spots and a pop-up marker for each city
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))